<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Roman | Industrial Design</title>
    
        <link rel="stylesheet" href="/css/session.css">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap" rel="stylesheet">
    
        <script src="https://kit.fontawesome.com/c64b328e73.js" crossorigin="anonymous"></script>
    
        <link rel="shortcut icon" href="/images/logos/favicon.png">
    </head>
<body>
    <!-- HEADER -->
    <header>

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>

        <a href="/" class="logo">roman<span>.</span> </a>

        <nav class="navbar">
            <a href="/">home</a>
            <a href="/about">nosotros</a>
            <a href="/product">productos</a>
            <a href="/contact">contacto</a>
        </nav>

        <div class="icons">
            <a href="/productCart" class="fas fa-shopping-cart"></a>
            <a href="/login" class="fas fa-user"></a>
        </div>

    </header>

    <!-- REGISTER -->
    <section class="login" id="login">

        <h1 class="heading heading-pages"> <span> crear </span> cuenta </h1>

        <div class="row">

            <form action="/" method="get">
                <input type="text" placeholder="nombre y apellido" class="box">
                <input type="text" placeholder="usuario" class="box">
                <input type="email" placeholder="email" class="box">
                <input type="password" placeholder="contraseña" class="box">
                <input type="password" placeholder="confirmar contraseña" class="box">
                <button class="btn btn-form">Ingresar</button>
                <p class="p-form">
                    ¿Ya tienes una cuenta?
                    <a href="/login" class="link-form"> Inicia sesion </a>
                </p>
            </form>
        </div>

    </section>

    <!--  FOOTER -->
    <footer class="footer">

        <div class="box-container">

            <div class="box">
                <h3>navegacion</h3>
                <a href="/">home</a>
                <a href="/about">nosotros</a>
                <a href="/products">productos</a>
                <a href="/contact">contacto</a>
            </div>

            <div class="box">
                <h3>nuestras redes</h3>
                <a href="https://www.instagram.com" target="_blank">instagram</a>
                <a href="https://www.twitter.com" target="_blank">twitter</a>
                <a href="https://www.facebook.com" target="_blank">facebook</a>
                <a href="https://www.tiktok.com" target="_blank">tikTok</a>
            </div>

            <div class="box">
                <h3>contactenos</h3>
                <a href="#">+123-456-7890</a>
                <a href="#">industrialdesign@gmail.com</a>
                <a href="#">Brandsen 805, CABA</a>
            </div>

        </div>

        <div class="credit"> created by <span>Ivan Roman</span> | all rights reserved </div>
    </footer>
</body>
</html>